{% load static %}

<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      Probability Art {% block title %} {% endblock %}
    </title>
     <link href="{% static "css/bootstrap.min.css"%}"
    rel="stylesheet" > <link href="{% static "css/main.css"%}" rel="stylesheet"
    >

  </head>
  <body>

      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
              <path
                d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
              />
              <circle cx="12" cy="13" r="4" />
            </svg>
            <strong>Create Art with Probability Artist</strong>
          </a>
        </div>
      </div>
    </header>

    <main>
       <footer style="background-image: url('https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/background5.png');"class="text-body-secondary py-5"> 
        <section  class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light" style="color: white;">Create Your Own Probability Art!</h1>
              <p style="--bs-text-opacity: 1;
              color: white">
                Select a base image, distribution, and number of starting point to create your own probability art!
              </p>
              
              <form action="create" method="post">
                {% csrf_token %}
                <label style="color: white;" class="col-form-label mt-4" for="baseImage"
                  >Base Image</label
                >
                <select class="form-select" name="baseImage" id="baseImage">
                  <option>sunset1</option>
                  <option>sunset2</option>
                  <option>sunset3</option>
                  <option>sunset4</option>
                  <option>sunset5</option>
                  <option>sunset6</option>
                  <option>sunset7</option>
                  <option>sunset8</option>
                </select>
        
                <label style="color: white;" class="col-form-label mt-4" for="distribution"
                  >Probability Distribution</label
                >
                <select class="form-select" name="distribution" id="distribution">
                  <option>Pareto Distribution</option>
                  <option>Uniform Distribution</option> 
                  <option>Normal Distribution</option>
                </select>
                <fieldset class="form-group">
    
                  <div class="form-group">
                    <label style="color: white;" class="col-form-label mt-4" for="n"
                      >Number of Samples (n)</label
                    >
                    <input
                      type="n"
                      class="form-control"
                      placeholder="type a positive integer"
                      id="n"
                      name="n"
                      value="5"
                    />
                  </div>
                  <br>
                  <input type="submit" value="submit" class="btn btn-primary my-2">
                  <br>
                  <label style="color: white;" class="col-form-label mt-4" for="n"
                      >Might take up to 10 seconds after hitting "submit"!</label
                    >
                {% comment %} <button type="button" id="create" class="btn btn-primary my-2">
                  Let's Go!!! onclick = "generateGraph()"
                </button> {% endcomment %}
                {% comment %} <script src="{% static "js/createarts.js" %}"></script> {% endcomment %}
              
              </footer>
            
            </form>
            </div>
          </div>
        </section>
      
      

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Probability Art Gallery</h1>
              <p class="lead text-body-secondary">
                Art Created with Markov Chain, Probability Distributions, and
                Random Walk Algorithm.
              </p>
            </div>
          </div>
        </section>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#55595c" />

                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-11-30%20at%206.23.41%20PM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Uniform Distribution, 400 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      {% comment %} <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        View
                      </button> {% endcomment %}
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#55595c" />

                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-02%20at%201.02.49%20AM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>

                <div class="card-body">
                  <p class="card-text">
                    Pareto Distribution, 20 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#55595c" />

                  <image
                    id="dynamicImage"
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-02%20at%201.30.26%20AM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Pareto Distribution on X-axis, Normal Distribution on
                    Y-axis, 20 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>



            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-02%20at%203.57.19%20PM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Pareto Distribution, 30 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-02%20at%201.27.43%20AM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Normal Distribution, 400 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-05%20at%202.07.25%20PM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Uniform Distribution, 1 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-05%20at%201.45.54%20PM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Pareto Distribution on X-axis, Normal Distribution on
                    Y-axis, 10 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placehoßlder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-05%20at%202.26.16%20PM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Uniform Distribution, 80 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <image
                    href="https://dgcfnvaratrfzwofqohg.supabase.co/storage/v1/object/public/GalleryArt/Screen%20Shot%202023-12-05%20at%201.53.52%20PM.png"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid slice"
                  />
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    Normal Distribution, 1 randomly sampled starting points.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      
                    </div>
                    <small class="text-body-secondary"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    

    <br>

      <div class="container">
        <p class="lead text-body-secondary">
          Notes: all base images with the name "sunset" are photos of sunsets taken by the creator of this website. The base images for the background picture and last three pictures in the gallery are downloaded from https://unsplash.com/.
        </p>

        <p class="float-end mb-1">
          
          <a href="#">Back to top</a>
        </p>
      </div>


    

  </body>
</html>